<?xml version="1.0" encoding="UTF-8"?> 

<launch>
  <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
    <param name="filter_config" value="$(find rovio)/cfg/realsense_d455.info"/>
    <param name="camera0_config" value="$(find rovio)/cfg/realsense_d455_cam.yaml"/>
    <param name="cam0_topic"   value="/camera/color/image_raw" />
    <param name="imu0_topic"   value="/camera/imu" />
  </node>
</launch>
